<h2>Open Requests</h2>
<table>
  <thead>
      <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Unit #</th>
          <th>Service Type</th>
          <th>Summary</th>                            
          <th>Details</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let maintenanceRequest of maintenanceRequests">
          <td>{{maintenanceRequest.name}}</td>
          <td>{{maintenanceRequest.email}}</td>
          <td>{{maintenanceRequest.unitNumber}}</td>
          <td>{{maintenanceRequest.serviceType}}</td>
          <td>{{maintenanceRequest.summary}}</td>
          <td>{{maintenanceRequest.details}}</td>
          <td>
              <button type="button">Close</button>
          </td>
      </tr>
  </tbody>
</table>
